.warning {
    width: fit-content;
    padding: 2px;
    margin-bottom: 5px;
}
.error {
    background-color: red;
    color: white;
}
.info {
    background-color: lightsteelblue;
    color: black;
}