.users span {
    border: 1px solid black;
    margin: 5px;
    padding: 2px;
    cursor: pointer;
}
.users span.current {
    background-color: lightsteelblue;
}
.users {
    padding: 10px;
    width: fit-content;
}
.user {
    border: 1px solid black;
    width: fit-content;
}
.user ul {
    overflow: hidden;
    overflow-y: scroll;
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
}
.user li {
    border: 1px solid black;
    padding: 10px;
    list-style: none;
}
.user li.you {
    background-color: lightsteelblue;
}
.user li div {
    border: 1px solid black;
    padding: 5px;
}
.user li p {
    font-style: italic;
    margin: 0;
}
.users form {
    margin-bottom: 10px;
}
.user > p {
    padding: 5px;
}
.Chat {
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
}